// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
//@import "variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
html{
    height: 100%;
}
body{
    font-family:      'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:            #000;
    font-size:        18px;
    line-height:      1.5;
    background-color: #fff;
}
body, #app{
    min-height: 100%;
}
.is-danger{
    color:     red;
    font-size: 14px;
}
td{
    word-break: break-all
}
hr{
    margin: 0;
}
.red{
    color: red;
}
.blue{
    color: palegreen;
}
.no-border{
    border-top:    0px !important;
    border-right:  0px !important;
    border-bottom: 0px !important;
    border-left:   0px !important;
}
.hidden{
    display: none;
}
.float-right{
    float: right;
}
.loading{
    margin-top: 10px;
}
